.account-menu-delete {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: var(--error-color);
}

.account-menu-delete:hover {
  background-color: var(--error-color);
  color: white;
}
