.card {
  margin-top: -80px;
}

.header-card {
  display: flex;
  gap: 15px;
}

.header-card__title {
  color: var(--text-color);
  font-weight: bold;
}

.header-card__actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.header-card__action {
  margin-top: 0px !important;
}

.header-card__loader {
  display: flex;
  justify-content: center;
}

@media (width > 600px) {
  .header-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
