.main-header {
  padding: 20px;
  padding-bottom: 180px;
  background: var(--bg-gradient);
}

.main-header__content {
  max-width: 1200px;
  margin: 0 auto;
}

.main-header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.main-header__navigation {
  display: none;
}

@media (width > 800px) {
  .main-header__navigation {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.main-header__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
